@import './_variables.scss';
@import './_mixins.scss';

.blockquote {    
    margin: 20px 0;
    padding: 0 5px;
    color: $base-font-color-three;
    border-left: 3px solid $base-color-three-rgb-op3;    

    @extend %default-transition;

    .header,
    .sub-header {        
        font-stretch: extra-expanded;        
        margin: 0;
        word-spacing: 1px;
        letter-spacing: 2px;
    }

    .header {
        font-size: $sm-font-size;        
        font-weight: bold;        
    }

    .sub-header {
        font-size: $xm-font-size;        
    }
}