input[type='text'] {    
    border: none;
    border-bottom: 1px solid $base-color-two-rgb-op1;
    color: $base-font-color;
    width: 100%;

    @extend %default-transition;
}

input {
    &:focus {
        outline-offset: 0 !important;
        outline: none !important;
        border-bottom: 1px solid $base-color-two-rgb-op5;
    }
}

/* The container */
.input-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: $sm-font-size;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @extend %default-transition;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;

        &:checked {
            &~ .checkmark {
                background-color: $base-color-two-rgb-op5;

                &:after {
                    display: block;
                }
            }
        }
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 17px;
        width: 17px;
        background-color: #eee;
        border-radius: 50%;

        @extend %input-radio-transition;       
    }
}