@import './_variables.scss';
@import './_mixins.scss';

.title {
    margin: 0;

    @extend %default-transition;

    &.md-title {
        color: $base-font-color;
        font-size: $md-font-size;
        font-weight: $title-font-weigth;
    }
}