//colors
$base-color-1: #eeeff3;
$base-color-two:#272644;
$base-color-two-rgb-op5: rgba(39,38,68,0.5);
$base-color-three-rgb-op3: rgba(66,54,221,0.3);
$base-font-color: #4d4c5c;
$base-font-color-rgb: rgb(77,76,92);
$base-font-color-rgb-op3: rgba(77,76,92,0.3);
$base-font-color-two: #B9C3CE;
$base-font-color-three: #a4a5a9;


//fonts
$base-font: sans-serif;
$x-xl-font-size: 8em;
$xl-font-size: 2em;
$lg-font-size: 1.6em;
$md-font-size: 1.3em;
$sm-font-size: 0.9em;
$title-font-weigth: 400;