@import './../../styles/_variables.scss';
@import './../../styles/_mixins.scss';

.quiz {
    padding: 10px !important;
    border-left: 3px solid $base-color-two-rgb-op5;

    @extend %default-transition;

    .title {
        margin: 10px 0;
    }    
}