@import './common/styles/_variables.scss';
@import './common/styles/_mixins.scss';
@import './common/styles/_select.scss';
@import './common/styles/_input.scss';
@import './common/styles/_blockquote.scss';
@import './common/styles/_title.scss';

body {
  background: $base-color-1;
  font-family: $base-font;  
  margin: 0;
  padding: 0;
  color: $base-font-color;
}

.txt-cntr {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.align-vrt-midl {
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.def-cntrl-margin {
  margin: 10px 0;
}

.m-t-10 {
  margin-top: 10px !important;
}

.x-xl-size {
  font-size: $x-xl-font-size;
}

.default-transition {
  @extend %default-transition;
}