@import './../../styles/_variables.scss';
@import './../../styles/_mixins.scss';

.counter {    
    margin: 0;
    font-weight: 300;
    color: $base-font-color-rgb-op3;
    
    @extend %default-transition;
}